doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" href="./images/ico.png")

    link(rel="stylesheet", href="./fonts/fonts.css")
    link(rel="stylesheet", href="./style.css")

    title Kit | Form Elements

    include uikit.pug
  body
    .fe
      .fe__element
        h3 text field
        +textfield-email
      .fe__element
        h3 dropdown
        +dropdown-guest
      .fe__element
        h3 masked text field
        +textfield-mask
      .fe__element
        h3 date dropdown
        +dropdown-date
      .fe__element
        h3 filter date dropdown
        +dropdown-filterdate
      .fe__element
        h3 subscription text field
        +textfield-subscription
      .fe__element
        h3 dropdown
        +dropdown-prefs
      .fe__element
        +checkbox-expand
      .fe__element
        +feature-comfort("line-show")
        +feature-convenience("line-show")
        +feature-cosiness




    script(src="./script.js")