doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" href="./images/ico.png")

    link(rel="stylesheet", href="./fonts/fonts.css")
    link(rel="stylesheet", href="./style.css")

    title Kit | Form Elements

    include uikit.pug
  body(class="fe")
    .fe__main

      .fe__1-column
        .fe__element
            h3 text field
            +textfield-email
        .fe__element
            h3 dropdown
            +dropdown-guest
        .fe__element
            h3 masked text field
            +textfield-mask
        .fe__element
            h3 date dropdown
            +dropdown-date
        .fe__element
            h3 filter date dropdown
            +dropdown-filterdate
        .fe__element
            h3 subscription text field
            +textfield-subscription
        .fe__element
            h3 dropdown
            +dropdown-prefs
        .fe__element
          +checkbox-expand



      .fe__2-column
        .fe__element
          h3 checkbox buttons
          +checkbox
        .fe__element
          h3 radio buttons
          +radiobutton
        .fe__element
          h3 toggle
          +togglebutton
        .fe__element
          h3 like button
          +likebutton
        .fe__element
          h3 rate button
          +ratebutton
        .fe__element
          h3 rich checkbox buttons
          +checkbox-rich
        .fe__element
          h3 bullet list
          +bulletlist




      .fe__3-column
        .fe__element
          h3 range slider
          +slider
        .fe__element
          h3 buttons
          +button
          +button-border
          +button-onlytext
          +button-wide
        .fe__element
          h3 pagination
          +pagination


    .fe__other
      .fe__element
        +feature-comfort("line-show")
        +feature-convenience("line-show")
        +feature-cosiness
      .fe__element
        +comment

    script(src="./script.js")