doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="icon" href="./images/ico.png")

		link(rel="stylesheet" href="./fonts/fonts.css")
		link(rel="stylesheet" href="./fonts/all.css")
		link(rel="stylesheet" href="./style.css")

		title Landing page

		include uikit.pug
	body
		+headerunsign
		.landing
			img(src="images/pages/landing1.png" alt="landing" width="100%")
			.landingp
				p Лучшие номера для вашей работы, отдыха и просто вдохновления
			.landingcard
				+cardsearch
		+footer