mixin textfield-email
  input(class="textfield textfield__email" type="email" placeholder="Email")

mixin textfield-mask
  input(class="textfield textfield__mask" type="text" placeholder="ДД.ММ.ГГГГ")

mixin textfield-subscription
  .textfield__subscription
    input(class="textfield textfield--subscription" type="email" placeholder="Email")
    .textfield__icon
      i(class="material-icons") arrow_forward




mixin dropdown-guest
  .dropdown
    input(type="checkbox" name="dropdown-g" id="dropdown-g")
    label(for="dropdown-g")
      .dropdown__btn.dropdown__guest
        span(class="dropdown__text") Сколько гостей
        .dropdown__icon
          i(class="material-icons") expand_more
    .dropdown__guest-open
      .dropdown-item
        span взрослые
        .countbuttons
          .minus-circle -
          .count 0
          .plus-circle +
      .dropdown-item
        span дети
        .countbuttons
          .minus-circle -
          .count 0
          .plus-circle +
      .dropdown-item
        span младенцы
        .countbuttons
          .minus-circle -
          .count 0
          .plus-circle +
      .dropdown-item
        .btn
          button.btn__onlytext очистить
        .btn
          button.btn__onlytext применить


mixin dropdown-date
  .dropdown
    input(type="checkbox" name="dropdown-d" id="dropdown-d")
    label(for="dropdown-d")
      .dropdown__btn.dropdown__date
        span(class="dropdown__text") ДД.ММ.ГГГГ
        .dropdown__icon
          i(class="material-icons") expand_more

mixin dropdown-filterdate
  .dropdown
    input(type="checkbox" name="dropdown-fd" id="dropdown-fd")
    label(for="dropdown-fd")
      .dropdown__btn.dropdown__filterdate
        span(class="dropdown__text") 19 авг - 23 авг
        .dropdown__icon
          i(class="material-icons") expand_more

mixin dropdown-prefs
  .dropdown
    input(type="checkbox" name="dropdown-p" id="dropdown-p")
    label(for="dropdown-p")
      .dropdown__btn.dropdown__prefs
        span(class="dropdown__text") 2 спальни, 2 кровати...
        .dropdown__icon
          i(class="material-icons") expand_more
    .dropdown__prefs-open
      .dropdown-item
        span спальни
        .countbuttons
          .minus-circle -
          .count 0
          .plus-circle +
      .dropdown-item
        span кровати
        .countbuttons
          .minus-circle -
          .count 0
          .plus-circle +
      .dropdown-item
        span спальные комнаты
        .countbuttons
          .minus-circle -
          .count 0
          .plus-circle +



mixin checkbox
  .checkbox-block
    .checkbox-item
      input(type="checkbox" name="default" id="check_smokeallow" value="smokeallow")
      label(for="check_smokeallow")
        .custom-checkbox
        .checkbox-description Можно курить
    .checkbox-item
      input(type="checkbox" name="default" id="check_petsallow" value="petsallow")
      label(for="check_petsallow")
        .custom-checkbox
        .checkbox-description Можно с питомцами
    .checkbox-item.doubleline
      input(type="checkbox" name="default" id="check_guestsallow" value="guestsallow")
      label(for="check_guestsallow")
        .custom-checkbox
        .checkbox-description Можно пригласить гостей (до 10 человек)

mixin checkbox-expand
  .checkbox-item-expand
    input(type="checkbox" name="openexpand" id="openexpand" value="")
    label(for="openexpand")
      .checkbox__expand-btn
        h3 expandable checkbox list
        .dropdown__icon
          i(class="material-icons") expand_more
    .checkbox-block-exp
      .checkbox-item
        input(type="checkbox" name="expand" id="check_breakfast" value="breakfast")
        label(for="check_breakfast")
          .custom-checkbox
          .checkbox-description Завтрак
      .checkbox-item 
        input(type="checkbox" name="expand" id="check_worktable" value="worktable")
        label(for="check_worktable")
          .custom-checkbox
          .checkbox-description Письменный стол
      .checkbox-item
        input(type="checkbox" name="expand" id="check_kidchair" value="kidchair")
        label(for="check_kidchair")
          .custom-checkbox
          .checkbox-description Стул для кормления
      .checkbox-item
        input(type="checkbox" name="expand" id="check_kidbed" value="kidbed")
        label(for="check_kidbed")
          .custom-checkbox
          .checkbox-description Кроватка
      .checkbox-item
        input(type="checkbox" name="expand" id="check_tv" value="tv")
        label(for="check_tv")
          .custom-checkbox
          .checkbox-description Телевизор
      .checkbox-item
        input(type="checkbox" name="expand" id="check_shampoo" value="shampoo")
        label(for="check_shampoo")
          .custom-checkbox
          .checkbox-description Шампунь

mixin checkbox-rich
  .checkbox-block-rich
    .checkbox-item-rich
      input(type="checkbox" name="rich" id="check-rich_corridor" value="widecorridor")
      label(for="check-rich_corridor")
        .custom-checkbox
        .checkbox-text
          .checkbox-title Широкий корридор
          .checkbox-description Ширина коридоров в номере не менее 91 см.
    .checkbox-item-rich
      input(type="checkbox" name="rich" id="check-rich_helper" value="invhelper")
      label(for="check-rich_helper")
        .custom-checkbox
        .checkbox-text
          .checkbox-title Помощник для инвалидов
          .checkbox-description На 1 этаже вас встретит специалист и проводит до номера.



mixin radiobutton
  .radio__block
    .radio-male
      input(type="radio" name="sex" id="radio_male" value="sex_male")
      label(for="radio_male")
        .custom-radio
        .radio-text Мужчина


    .radio-female
      input(type="radio" name="sex" id="radio_female" value="sex_female")     
      label(for="radio_female")
        .custom-radio
        .radio-text Женщина

mixin togglebutton
  .toggle-item
    input(type="checkbox" name="toggle" id="toggle_spec" value="allow_spec-email")
    label(for="toggle_spec")
      .custom-toggle
      .toggle-text Получать спецпредложения

mixin likebutton
  .like-item
    input(type="checkbox" name="like" id="like_button" value="like")
    label(for="like_button")
      .custom-like
        div(class="material-icons like-icon") favorite_border
        div(class="material-icons like-icon--active") favorite
        .like-count 2

mixin ratebutton
  .rate-box
    span(id="star0" class="material-icons star")
    span(id="star1" class="material-icons star")
    span(id="star2" class="material-icons star")
    span(id="star3" class="material-icons star")
    span(id="star4" class="material-icons star_border")



mixin bulletlist
  .bullet-block
    .bullet-item 
      .bullet-mark
      .bullet-text Нельзя с питомцами
    .bullet-item 
      .bullet-mark
      .bullet-text Без вечеринок и мероприятий
    .bullet-item
      .bullet-mark
      .bullet-text Время прибытия — после 13:00, а выезд до 12:00



mixin button
  .btn
    button.btn__default click me

mixin button-border
  .btn
    button.btn__border click me
      .btn__border--gradient


mixin slider
  .slider
    .slider-ball-1
    .slider-ball-2 
    .slider-betweenball


mixin button-onlytext
  .btn
    button.btn__onlytext click me

mixin button-wide
  .btn
    button.btn__wide click me
      .btn__wide__arrow arrow_forward


mixin feature-comfort(space="") 
  .feature__item
    div(class="material-icons feature__icon") insert_emoticon
    dl(class="feature__text")
      dt Комфорт
      dd Шумопоглащающие стены
  div(class="feature__underline " + space)

mixin feature-convenience(space="")
  .feature__item
    div(class="material-icons feature__icon") location_city
    dl(class="feature__text")
      dt Удобство
      dd Окно в каждой из спален
  div(class="feature__underline " + space) 

mixin feature-cosiness(space="")
  .feature__item
    div(class="material-icons feature__icon") whatshot
    dl(class="feature__text")
      dt Уют
      dd Номер оснащён камином
  div(class="feature__underline " + space)



mixin pagination
  .pagination
    .number-line
      .currentpage 1
      .page1 2
      .page2 3
      .page3 ...
      .page4 15
      .nextpage
    .comment-line 1 – 12 из 100+ вариантов аренды


mixin comment
  .commentblock
    .user
      .user-avatar
      .user-stat
        .user-name Имя Фамилия 
        .user-date 5 дней назад
    .comment
      .like-item
        input(type="checkbox" name="like" id="like_buttonc" value="like" checked)
        label(for="like_buttonc")
          .custom-like
            div(class="material-icons like-icon") favorite_border
            div(class="material-icons like-icon--active") favorite
            .like-count 12
      p 
        | Великолепный матрас на кровати в основной спальне!
        | А пуфик вообще потрясающий. <br>И стены, действительно, шумоподавляющие.
        | Выкрикивал комплименты повару — никто не жаловался из соседей.



mixin headerunsign
  .header
    .headerlogo
      img(src="images/logo.svg", alt="logo")
    .headercontrol
      a <b>О нас</b>
      a Услуги
      .material-icons expand_more
      a Вакансии
      a Новости
      a Соглашения
      .material-icons expand_more
      +button-border
      +button


mixin headersign
  .header
    .headerlogo
      img(src="images/logo.svg", alt="logo")
    .headercontrol
      a <b>О нас</b>
      a Услуги
      .material-icons expand_more
      a Вакансии
      a Новости
      a Соглашения
      .material-icons expand_more
      .headeruser
        p Юлий Цезарь
mixin footer
  .footer
    .footertop
      .footblock
        img(src="images/logo.svg", alt="logo")
        p(style="max-width: 260px") Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .footblock
        p.title Навигация
        p О нас
        p Новости
        p Служба поддержки
        p Услуги
      .footblock
        p.title О нас
        p О сервисе
        p Наша команда
        p Вакансии
        p Инвесторы
      .footblock
        p.title Служба поддержки
        p Соглашения
        p Сообщества
        p Связь с нами
      .footblock
        P.title Подписка
        P(style="max-width: 260px") Получайте специальные предложения и новости сервиса
        +textfield-subscription
    .footerbot
      p Copyright © 2018 Toxin отель. Все права зачищены.
      .footericons
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook-square" aria-hidden="true"></i>
        <i class="fab fa-instagram"></i>
mixin copyright
  .copyright
    img(src="images/logo.svg", alt="logo")
    p Copyright © 2018 Toxin отель. Все права зачищены.
    .footericons
      <i class="fab fa-twitter"></i>
      <i class="fab fa-facebook-square" aria-hidden="true"></i>
      <i class="fab fa-instagram"></i>