mixin textfield-email
  input(class="textfield textfield__email" type="email" placeholder="Email")

mixin textfield-mask
  input(class="textfield textfield__mask" type="text" placeholder="ДД.ММ.ГГГГ")

mixin textfield-subscription
  .textfield__subscription
    input(class="textfield textfield--subscription" type="email" placeholder="Email")
    .textfield__icon
      i(class="material-icons") arrow_forward




mixin dropdown-guest
  button(class="dropdown dropdown__guest" type="button")
    span(class="dropdown__text") Сколько гостей
    .dropdown__icon
      i(class="material-icons") expand_more

mixin dropdown-date
  button(class="dropdown dropdown__date" type="button")
    span(class="dropdown__text") ДД.ММ.ГГГГ
    .dropdown__icon
      i(class="material-icons") expand_more

mixin dropdown-filterdate
  button(class="dropdown dropdown__filterdate" type="button")
    span(class="dropdown__text") 19 авг - 23 авг
    .dropdown__icon
      i(class="material-icons") expand_more

mixin dropdown-prefs
  button(class="dropdown dropdown__prefs" type="button")
    span(class="dropdown__text") 2 спальни, 2 кровати...
    .dropdown__icon
      i(class="material-icons") expand_more




mixin checkbox
  .checkbox-block
    div
      input(class="checkbox" type="checkbox" name="default" id="check_smokeallow" value="smokeallow")
      label(for="check_smokeallow") Можно курить
    div
      input(class="checkbox" type="checkbox" name="default" id="check_petsallow" value="petsallow")
      label(for="check_petsallow") Можно с питомцами
    div
      input(class="checkbox" type="checkbox" name="default" id="check_guestsallow" value="guestsallow")
      label(for="check_guestsallow") Можно пригласить гостей (до 10 человек)

mixin checkbox-expand
  button(class="checkbox__expand-btn" type="button")
    h3 expandable checkbox list
    .dropdown__icon
      i(class="material-icons") expand_more
  .checkbox-block.exp
    div
      input(class="checkbox" type="checkbox" name="expand" id="check_breakfast" value="breakfast")
      label(for="check_breakfast") Завтрак
    div  
      input(class="checkbox" type="checkbox" name="expand" id="check_worktable" value="worktable")
      label(for="check_worktable") Письменный стол
    div
      input(class="checkbox" type="checkbox" name="expand" id="check_kidchair" value="kidchair")
      label(for="check_kidchair") Стул для кормления
    div
      input(class="checkbox" type="checkbox" name="expand" id="check_kidbed" value="kidbed")
      label(for="check_kidbed") Кроватка
    div
      input(class="checkbox" type="checkbox" name="expand" id="check_tv" value="tv")
      label(for="check_tv") Телевизор
    div
      input(class="checkbox" type="checkbox" name="expand" id="check_shampoo" value="shampoo")
      label(for="check_shampoo") Шампунь



mixin radiobutton
  a a






mixin feature-comfort(space="") 
  .feature__item
    div(class="material-icons feature__icon") insert_emoticon
    dl(class="feature__text")
      dt Комфорт
      dd Шумопоглащающие стены
  div(class="feature__underline " + space)

mixin feature-convenience(space="")
  .feature__item
    div(class="material-icons feature__icon") location_city
    dl(class="feature__text")
      dt Удобство
      dd Окно в каждой из спален
  div(class="feature__underline " + space) 

mixin feature-cosiness(space="")
  .feature__item
    div(class="material-icons feature__icon") whatshot
    dl(class="feature__text")
      dt Уют
      dd Номер оснащён камином
  div(class="feature__underline " + space)

