
.btn {
  width: fit-content;
  height: fit-content;
  display: block;
  margin: 10px 0;

  user-select: none;
}

.btn button {
  outline: none;
  border: none;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 22px;
  cursor: pointer;
}
.btn__default {

  width: 99px;
  height: 44px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: #fff;
  transition: opacity .1s linear;
}
.btn__default:hover {
  transition: opacity .1s linear;
  opacity: 0.5;
}



.btn__border--gradient {
  position: absolute;
  width: 96px;
  height: 44px; 
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  transition: opacity .1s linear;
  margin-top: -29.5px;
  margin-left: -8px;

  z-index: -1;
}
.btn__border {
  position: relative;
  margin-left: 2px;
  width: 92px;
  height: 40px;
  border-radius: 22px;
  background: #fff;
  color: #bc9cff;
}
.btn__border:hover .btn__border--gradient {
  transition: opacity .1s linear;
  opacity: 0.5;
}



.btn__onlytext {
  background: transparent;
  color: rgba(31, 32, 65, 0.5);
  transition: color .1s linear;
}
.btn__onlytext:hover {
  transition: color .1s linear;
  color: #bc9cff;
}




.btn__wide {
  position: relative;
  width: 320px;
  height: 44px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: #fff;
  transition: opacity .1s linear;
}
.btn__wide:hover {
  transition: opacity .1s linear;
  opacity: 0.5;
}
.btn__wide__arrow {
  position: absolute;
  font-family: Material Icons;
  text-transform: none;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin-top: -20px;
  margin-left: 280px;
  color: #FFFFFF;
}