input[type="checkbox"] {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: -1;
  opacity: 0;
  margin: auto;
}

input[type="checkbox"] + label {
  display: inline-flex;
  user-select: none;
}

.custom-checkbox {
  display: block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 10px;

  background: #ffffff;

  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.custom-checkbox::after {
  content: "";
  width: 6px;
  height: 8px;
  margin: 5px 6px;
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  clip-path: polygon(0 75%, 66% 75%, 66% 0, 100% 0, 100% 99%, 0 100%);
  transform: rotate(45deg);
  opacity: 0;
}

input[type="checkbox"]:checked + label .custom-checkbox {
  border-color: #bc9cff;
}
input[type="checkbox"]:checked + label .custom-checkbox::after {
  opacity: 1;
}

.checkbox-block {
  width: 222px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: rgba(31, 32, 65, 0.5);

  align-content: center;
}
.checkbox-block-rich {
  margin-top: 15px;
  margin-bottom: 30px;
  max-width: 266px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  align-content: center;
}
.checkbox-title {
  margin-bottom: 5px;

  font-weight: bold;
  font-size: 14px;
  line-height: 18px;

  color: rgba(31, 32, 65, 0.75);
}
.checkbox-description {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: rgba(31, 32, 65, 0.5);
}
.checkbox-item {
  margin: 5px 0;
  height: 20px;
}
.checkbox-item-rich {
  margin-bottom: 10px;
}
.doubleline {
  height: 36px;
}
