.checkbox-item-expand {
  position: relative;
}
.checkbox-block-exp {
  position: absolute;
  width: 266px;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: 1;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: rgba(31, 32, 65, 0.5);
  background-color: #fff;
  align-content: center;
  clip-path: inset(0 0 100% 0);
  transition: clip-path .3s linear;
}

input[type="checkbox"]:checked + label + .checkbox-block-exp{
  clip-path: inset(0 0 0 0);
  transition: clip-path .3s linear;
}
input[type="checkbox"]:checked + label .checkbox__expand-btn .dropdown__icon{
  transition: transform .2s linear;
  transform: rotate(180deg);
}
.checkbox__expand-btn {
  display: flex;
  justify-content: space-between;
  width: 266px;
  height: 44px;
  margin: 5px 0;
  padding: 0;
  box-sizing: border-box;

  background: transparent;
  border: none;

  outline: none;
  transition: border 0.1s linear;
}
