.dropdown {
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 44px;
  margin: 5px 0;
  padding: 0 0 0 15px;
  box-sizing: border-box;

  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;

  outline: none;
  transition: border 0.1s linear;
}
.dropdown:focus,
.dropdown:active {
  border: 1px solid rgba(31, 32, 65, 0.5);
}


.dropdown__icon {
  margin: auto 0;
  display: flex;

  padding: 10px;

  font-size: 24px;
  line-height: 24px;

  align-items: center;
  text-align: center;

  color: rgba(31, 32, 65, 0.5);

  transition: transform .2s linear;
}


.dropdown__guest {
  
}

.dropdown__text {
  margin: auto 0;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  color: rgba(31, 32, 65, 0.75);
}
.dropdown__date {
  width: 150px;
}
.dropdown__filterdate {
  width: 266px;
}
.dropdown__prefs {
  width: 266px;
}


