.roomphotos {
    display: flex;
}

.photomainitem {
    width: 68%;
}

.photosecitem {
    width: 32%;
}

.photoitem {
    display: block;
}

//

.roomabout{
    margin-top: 60px;
margin-left: 140px;
}
.roomdescription {
    display: flex;
}
.roomfeatures {
    margin-right: 70px;
    margin-bottom: 30px;
}

.roomregister{
    margin-top: -25px;
    right: 140px;
    position: absolute;
}
.roomcomment{
    display: block;
}

.roomother {
    margin-bottom: 70px;
    margin-top: 10px;
    display: flex;
}
.roomrules {
    margin-right: 70px;
}
.footerline {
    border: 1px solid rgba(31, 32, 65, 0.25);
}